@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-green: #c7ffc9;
  --color-pink: #efcef9;
  --color-green-hover: #a3d6a6;
  --color-pink-hover: #d8addf;
  --color-peach: #fff8eb;
  --color-peach-hover: #ffefdd;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-peach);
  font-family: "Inter", sans-serif;
  color: var(--color-gray);
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */

.header {
  background-color: var(--color-pink);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* ---------------------------------- */
/*               WELCOME              */
/* ---------------------------------- */

.welcome {
  max-width: 75rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem 1rem 6rem;
  color: var(--color-gray);

  font-size: 2rem;
  font-weight: 500;
}

.welcome .hello {
  letter-spacing: 0.1rem;
}

.welcome .date {
  font-size: 1.2rem;
}

/* ---------------------------------- */
/*              TODOLIST              */
/* ---------------------------------- */

.todoList {
  max-width: 75rem;
  padding: 1rem 5rem;
  margin: 1rem auto;
}

.todoList-input {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.todoList-input input {
  width: 60%;
  padding: 1rem 1rem;
  outline: none;
  background-color: var(--color-peach-hover);
  border: 0.1rem solid var(--color-black);
  border-radius: 0.8rem;

  font-size: 1rem;
}

.todoList-input button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.8s;
  cursor: pointer;

  font-size: 1.5rem;
  background-color: var(--color-pink);
  color: #444;
}

.todoList-input button:hover {
  background-color: var(--color-pink-hover);
}

.todoList-container {
  padding: 1rem 0.5rem;
  border: 0.1rem solid var(--color-peach);
  border-radius: 1rem;
  width: 60%;
  background-color: var(--color-peach);
  color: #333;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;

  background-color: var(--color-pink);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.todo p {
  font-size: 1.2rem;
}

.resultBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.resultBox p {
  font-size: 1.2rem;
}

.resultBox i {
  font-size: 1.1rem;
}

.line {
  text-decoration: line-through;
}

.completed {
  background-color: var(--color-green);
}
