@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-green: #e5ffe6;
  --color-pink: #f0cfd4;
  --color-peach: #fff6e6;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  font-family: "Inter", sans-serif;
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */

.header {
  background: linear-gradient(
    to right,
    var(--color-peach),
    var(--color-green),
    var(--color-pink)
  );
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
